@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  font-family: "Roboto";
  font-weight: 400;
}

.h-200p {
  height: 200px;
}

.cl-royalblue {
  color: royalblue
}

.cursor-pointer {
  cursor: pointer;
}

.text-hover-royalblue:hover {
  color: royalblue !important
}
