@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  font-family: "Roboto";
  font-weight: 400;
}

.cl-royalblue {
  color: royalblue
}

.cursor-pointer {
  cursor: pointer;
}

.text-hover-royalblue:hover {
  color: royalblue !important
}

.max-height-1rem {
  max-height: 1rem;
}

.gif-card-fixed-height {
  height: 15rem;
}

.w-95 {
  width: 95% !important;
}

.font-size-small {
  font-size: small;
}

@include media-breakpoint-down(sm) {
  .font-size-small {
    font-size: .4rem;
  }
}

@include media-breakpoint-down(md) {
  .gif-card-fixed-height {
    height: 50vw;
  }
}

@include media-breakpoint-between(md, lg) {
  .gif-card-fixed-height {
    height: 32vw;
  }
}
